<div class="item-container" *ngIf="parkingMeter">
  <div class="item-info-container">
    <p class="item-info">
      ID: {{parkingMeter.id}}
    </p>
    <p class="item-info">
      Address: {{parkingMeter.address}}
    </p>
    <p class="item-info">
      Status: {{getStatus()}}
    </p>
    <p class="item-info">
      Usages: {{parkingMeter.usages}}
    </p>
  </div>

  <div class="item-control">
    <button (click)="changeDisabledStatus()" class="btn">Change disable status</button>
    <button (click)="changeStatus()" class="btn">Change status</button>
    <button (click)="backToList()" class="btn">Back to list</button>
  </div>

  <div class="error footer">{{errorMessage}}</div>
</div>
