@import "src/variables";

.item-container {
  width: 250px;
  height: 275px;

  position: relative;

  border: 1px solid $color-blue;
  border-radius: 10px;

  padding: 10px;

  &__info {
    padding: 10px 0;

    &_centered {
      text-align: center;
    }

    &_address {
      text-overflow: ellipsis;
      display: block;
      overflow: auto;
      word-break: break-all;
      height: 155px;
    }
  }

  &__footer {
    position: absolute;
    bottom: 10px;
  }
}
