@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 18px;

  background: $color-black;
  color: $color-white;
}

.main {
  width: 80vw;
  margin: 50px auto 0;
}

.btn {
  padding: 7px 10px;
  border: 1px solid $color-blue;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.2s;

  &_standard {
    width: 200px;
  }

  &:hover {
    background: $color-white;
    color: $color-black;
  }
}

.input-container {
  position: relative;

  border: 1px solid $color-blue;

  &_labeled {
    padding: 20px;
  }

  &__input {
    position: relative;

    border: 1px solid $color-blue;

    padding: 10px;

    outline-color: $color-blue;
  }

  &__input:focus + &__label, &__input:not(:placeholder-shown) + &__label {
    top: 10px;

    font-size: 12px;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 25px;

    transform: translateY(-50%);

    transition: 0.2s;

    pointer-events: none;
  }
}

.error {
  color: $color-red;
}
